<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let members of memberList">{{members}}</li>
    </ul>
    <div class="add-members-container">
      <input #newMember type="text" (input)=saveMemberName(newMember.value) [value]="memberName" placeholder="Enter a name">
      <button (click)=addMember()>Add</button>
    </div>
    <div class="input-container">
      <input #nTeams type="number" (input)=saveNumberOfTeams(nTeams.value) [value]="numberOfTeams" placeholder="Number of teams">
      <button (click)=generateTeams()>Generate</button>
    </div>
    <p class="error-msg" *ngIf="errorMessage">{{errorMessage}}</p>
  </div>
</div>